# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Python Backend & Celery
backend/venv/
backend/.env
backend/bin/
backend/celerybeat-schedule
**/__pycache__/
*.pyc

# Generated audio assets
backend/app/static/generated_audio/*.wav

# Flutter Frontend (app/flutter_app)
app/flutter_app/.dart_tool/
app/flutter_app/build/
app/flutter_app/.flutter-plugins-dependencies
app/flutter_app/.pub-cache/
app/flutter_app/.pub/
app/flutter_app/coverage/
app/flutter_app/ios/Flutter/.last_build_id
